@page
@model ThePlaceToMeet.IdentityService.Pages.Register.Index

<div class="register-page">
    <div class="lead">
        <h1>Register</h1>
        <p>Would you like to register to IdentityServer?</p>
    </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>

                <div class="card-body">
                    <form asp-page="/Account/Register/Index">

                        <div class="form-group">
                            <label asp-for="Input.UserName"></label>
                            <input class="form-control" placeholder="Username" asp-for="Input.UserName">
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Name"></label>
                            <input class="form-control" placeholder="Name" asp-for="Input.Name">
                        </div>

                        
                        <div class="form-group">
                            <label asp-for="Input.FamilyName"></label>
                        <input class="form-control" placeholder="FamilyName" asp-for="Input.FamilyName">
                        </div>

                        
                        <div class="form-group">
                            <label asp-for="Input.GivenName"></label>
                        <input class="form-control" placeholder="GivenName" asp-for="Input.GivenName">
                        </div>


                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input class="form-control" placeholder="Email" asp-for="Input.Email" autofocus>
                    </div>

                    
                        <div class="form-group">
                            <label asp-for="Input.WebSite"></label>
                        <input class="form-control" placeholder="WebSite" asp-for="Input.WebSite">
                        </div>

                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                        </div>

                        <button class="btn btn-primary" name="Input.Button" value="register">Register</button>
                        <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

</div>
